/** ------ Layout Styles ------ **/

body {
    background-image: ("assests/images/old_wall.jpg");
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

header {
    padding: 20px 0px 0px 0px;
}

#logo {
    max-width: 938px;
    max-height: auto;
    display: block;
    margin: 0 auto;
}

#container {
    max-width: 938px;
    max-height: auto;
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

#scoreKeeper {
    margin: 50px 0px 50px 0px;
}

#randomNumber{
    margin: 0 auto;
    width: 50%;
    float: left;
    text-align: center;
    background-color: white;
}

#score {
    margin: 0 auto;
    width: 50%;
    float: right;
    text-align: center;
    background-color: white;
}

.clear {
    clear: both;
}

#bugContainer {
    clear: both;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#bug1 {
    float: left;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

#bug2 {
    float: left;
    padding: 10px;
}

#bug3 {
    float: left;
    padding: 10px;
}

#bug4 {
    float: left;
    padding: 10px;
}

#winLosses {
    clear: both;
}

#winCount {
    margin: 0 auto;
    width: 50%;
    float: left;
    text-align: center;
}

#lossCount {
    margin: 0 auto;
    width: 50%;
    float: right;
    text-align: center;
}

/** ------ Text Styles ------ **/

h2  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

p {
    margin: 14px 80px 14px 20px;
    font-size: 16px;
}

/** ------ Image Styles ------ **/

.logoImage {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}